.btn-primary {
  background-color: #a90f11;
  border-color: #a90f11;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #970d10 !important;
  border-color: #970d10 !important;
}

.btn-primary:active {
  background-color: #8f0c0e !important;
  border-color: #8f0c0e !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 4px rgba(169, 15, 18, 0.37) !important;
}

.text-primary {
  color: #a90f11 !important;
}

.text-secondary {
  color: #44555b !important;
}
