{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block content %}

<main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center px-5">
  <h3 class="konsens-regular mb-5 text-center">Publique mensagens <strong>anônimas</strong> para o nome que quiser.</h3>
  <div class="mb-4">
    <label for="messageInput" class="form-label">Mensagem</label>
    <textarea class="form-control mb-4" id="messageInput" rows="3"></textarea>

    <label for="addresseeInput" class="form-label">Destinatário</label>
    <input type="text" class="form-control mb-4" id="addresseeInput" placeholder="Fulano da Silva">
  </div>
  <button type="button" class="btn btn-primary">Publicar</button>
</main>

{% endblock %}
